<div class="card mt-3" xmlns:th="http://www.thymeleaf.org">
    <div class="card-header bg-cyan">
        <h5>Form thông tin</h5>
    </div>
    <form th:object="${item}" method="post" class="mt-3" enctype="multipart/form-data">
        <div class="card-body" th:attr="data-pid=${item.id},data-name=${item.title}" >
            <div class="row">
                <div class="col-2 text-center">
                    <img th:src="@{|/images/*{image}|}" id="image_img"
                         style="height: 185px; max-width: 95%"/>
                </div>
                <div class="col-10">
                    <div class="row mb-3">
                        <div class="col-3">
                            <label>Id: </label>
                            <input th:field="*{id}" class="form-control" readonly placeholder="Auto number" />
                        </div>
                        <div class="col-9">
                            <label>Tiêu đề: </label>
                            <i class="text-danger" th:errors="*{title}"></i>
                            <i class="text-danger" th:text="${title}"></i>
                            <input th:field="*{title}" maxlength="70" class="form-control" placeholder="Nhập tiêu đề" />
                            <input th:field="*{author}" type="hidden" />
<!--                            <input th:field="*{author}" th:value="${#request.remoteUser == null ? 'Nguyễn Văn A' : #authentication.principal.account.fullname}" />-->

                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="col-4">
                            <label>Lượt xem: </label>
                            <input th:field="*{seen}" class="form-control"/>
                            <i class="text-primary"></i>
                        </div>
                        <div class="col-8">
                            <label>Hình ảnh: </label> <i class="text-danger" th:text="${validateImageAndSize}"></i>
                            <input type="file" name="image_file" class="form-control" />
                            <input th:field="*{image}" type="hidden">
                            <input  th:field="*{createDate}"  type="hidden"  class="form-control">
                        </div>

                    </div>

                </div>
            </div>
            <div class="row mt-3">
                <div class="form-group col-12">
                    <label>Mô tả bài viết: </label>
                    <textarea maxlength="1500"  style="height: 500px" th:field="*{descr}" id="descr"  placeholder="Mô tả bài viết" ></textarea>
                </div>
            </div>
        </div>
        <div class="card-footer text-center mb-5">
            <div th:replace="/admin/shared/frags::btn-crud('blog',*{id},'yes')"></div>
        </div>
    </form>
</div>