<div xmlns:th="http://www.thymeleaf.org" class="mb-5">

    <div id="contact_update_status_after_id">
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>NO.</th>
            <th>Tên người gửi</th>
            <th>Email</th>
            <th>Ngày gửi</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="itm,s : ${items}" th:attr="data-id=${itm.id},data-name=${itm.email}" id="row">
            <td th:text="${s.count}"></td>
            <td th:text="${itm.fullname}"></td>
            <td th:text="${itm.email}"></td>
            <td th:text="${itm.sendDate}"></td>
            <td >
                <div th:class="${itm.status?'contact_update_status':''}">
                    <span  th:classappend="${itm.status?'bg-danger':'bg-dark'}" class="p-1"
                          style="border-radius: 5px; cursor: pointer"
                          th:text="${itm.status?'Chờ phản hồi':'Đã phản hồi'}">
                    </span>
                </div>
            </td>
            <td>
                <div th:replace="/admin/shared/frags::btn-ud('contact',${itm.id}, 'no')"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>