<div xmlns:th="http://www.thymeleaf.org">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chi tiết loại hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container-fluid mt-4">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id: </label>
            <div class="col-sm-8">
                <input th:value="${item.id}" readonly class="form-control" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tên người gửi: </label>
            <div class="col-sm-8">
                <input th:value="${item.fullname}" readonly class="form-control" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email người gửi: </label>
            <div class="col-sm-8">
                <input th:value="${item.email}" readonly class="form-control" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Ngày gửi: </label>
            <div class="col-sm-8">
                <input th:value="${item.sendDate}" readonly class="form-control" >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Lời nhắn: </label>
            <div class="col-sm-8">
                <textarea th:text="${item.message}" readonly class="form-control" > </textarea>
            </div>
        </div>

        <hr>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Người duyệt: </label>
            <div class="col-sm-8">
                <input th:value="${item.account.fullname}" readonly class="form-control" >
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Ngày xử lý: </label>
            <div class="col-sm-8">
                <input th:value="${item.processDate}" readonly class="form-control" >
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>