<html th:replace="/shared/layout::dynamic(~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<main>
    <div class="container contact_container">
        <div class="row">
            <div class="col">
                <!-- Breadcrumbs -->
                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active"><a href="login"><i class="fa fa-angle-right" aria-hidden="true"></i>Đăng ký</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- login -->
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto">

                    <div class="myform">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h2>Đổi mật khẩu</h2>
                            </div>
                        </div>
                        <h4 th:text="${message}" class="text-center text-info"></h4>
                        <form action="/account/change-password"  method="post" class="mt-4">

                            <div class="row">
                                <div class="col-6 mx-auto">

                                    <input th:value="${#authentication.principal.account.id}"  class="form-control p-3" type="hidden">

                                    <div class="form-group">
                                        <input readonly th:value="${#authentication.principal.account.email}"  class="form-control p-3">
                                    </div>

                                    <div class="form-group">
                                        <label >Mật khẩu hiện tại:</label>
                                        <input type="password" class="form-control p-3" name="password"  placeholder="Nhập mật khẩu hiện tại">
                                    </div>
                                    <div class="form-group">
                                        <label >Mật khẩu mới:</label>
                                        <input type="password" class="form-control p-3" name="newpass"  placeholder="Nhập mật khẩu mới">
                                    </div>
                                    <div class="form-group">
                                        <label >Xác nhận lại mật khẩu:</label>
                                        <input type="password" class="form-control p-3" name="confirm"  placeholder="Nhập lại mật khẩu">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5 text-center mx-auto">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm mt-5 mb-3">Đổi mật khẩu</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
</html>