<html th:replace="/shared/layout::dynamic(~{::main})"
      xmlns:th="http://www.thymeleaf.org">
<main>
    <div class="container contact_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/">[(#{menu.home})]</a></li>
                        <li class="active"><a href="login"><i class="fa fa-angle-right" aria-hidden="true"></i>[(#{account.forgot})]</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- login -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">

                    <div class="myform">
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                                <h2>[(#{account.forgot})]</h2>
                            </div>
                        </div>
                        <h4 th:text="${message}" class="text-center text-info"></h4>
                        <form action="/account/forgot-password" method="post" name="login">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" name="email"  class="form-control p-3" id="email" aria-describedby="emailHelp">
                            </div>
                            <div class="col-md-12 text-center ">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm mt-5">[(#{account.getpass})]</button>
                            </div>
                            <div class="form-group mt-5">
                                <p class="text-center">[(#{account.back})] - <a href="/account/login" style="text-decoration: none"><i class="text-primary">[(#{account.login})]!</i></a></p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
</html>