<div xmlns:th="http://www.thymeleaf.org">
<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>free shipping</h6>
                        <p>Suffered Alteration in Some Form</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>cach on delivery</h6>
                        <p>The Internet Tend To Repeat</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>45 days return</h6>
                        <p>Making it Look Like Readable</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>opening all week</h6>
                        <p>8AM - 09PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Blogs -->

    <div class="blogs">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title">
                        <h3 class="text-primary">Tin tức - bài viết</h3>
                    </div>
                </div>
            </div>
            <div class="row blogs_container">
                <th:block th:each="blog: ${blogs}">
                <div class="col-lg-4 blog_item_col">
                    <div class="blog_item">
                        <div class="blog_background" th:style="'background-image: url(' + @{'/images/' + ${blog.image}} + ');'"></div>
                        <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                            <h4 class="blog_title" th:text="${blog.title}">Here are the trends I see coming this fall</h4>
                            <span class="blog_meta" th:text="${blog.createDate}">by admin | dec 01, 2017</span>
                            <a class="blog_more" th:href="@{|/blog/detail/${blog.id}|}">Read more</a>
                        </div>
                    </div>
                </div>
                </th:block>
            </div>
        </div>
    </div>
<!-- Newsletter -->

<!-- Footer -->

    <!-- Footer Section Begin -->
    <footer class="footer spad" style="margin-top: 50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="/"><img src="/client/images/logo2.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: [[${about.address}]]</li>
                            <li>Phone: [[${about.phone}]]</li>
                            <li>Email: <small>[[${about.email}]]</small></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên kết hữu ích</h6>
                        <ul>
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/product/discount">Sẩn phẩm giảm giá</a></li>
                            <li><a href="/product/special">Sản phẩm đặc biệt</a></li>
                            <li><a href="/product/best">Sản phẩm bán chạy</a></li>
                            <li><a href="/product/list">Tất cả sản phẩm</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Tham gia bản tin của chúng tôi ngay bây giờ</h6>
                        <p>Nhận thông tin cập nhật qua E-mail về cửa hàng mới nhất của chúng tôi và các ưu đãi đặc biệt.</p>
                        <form action="#">
                            <input type="email" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Đăng ký</button>
                        </form>
                        <div class="footer__widget__social">
                            <a th:href="${about.facebook}"><i class="fa fa-facebook"></i></a>
                            <a th:href="${about.instagram}"><i class="fa fa-instagram"></i></a>
                            <a th:href="${about.twitter}"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tất cả các quyền | Mẫu này được làm bằng <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Richard Nguyen</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="/client/images/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
</div>
