<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <!-- Header -->
    <header class="header trans_300">
        <div hidden th:classappend="${nofi}"></div>
        <div hidden th:classappend="${nofiordersuccess}"></div>
        <div hidden th:classappend="${nofiordererror}"></div>
        <div hidden th:classappend="${contactnofi}"></div>
        <!-- Top Navigation -->
        <div class="top_nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top_nav_left">[(#{menu.solo})].. [(#{menu.phone})]: [[${about.phone}]]</div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="top_nav_right">
                            <ul class="top_nav_menu">
<!-
                                <!--/ Language / My Account -->
                                <li class="language">
                                        <a href="#">
                                            <img th:src="#{greeting}=='??greeting_vi??'?'/images/vn.png':'/images/en.png'" style="width: 35px;height:20px;padding-right: 2%">
                                            <span th:text="#{greeting}=='??greeting_vi??'?'Tiếng Việt':'English'"></span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                    <ul class="language_selection">
                                        <li>
                                            <a href="javascript:changeLanguage('vi')"><img src="/images/vn.png" class="language_image"> Tiếng Việt</a>
                                            </li>
                                        <li>
                                            <a href="javascript:changeLanguage('en')"><img src="/images/en.png" class="language_image"> English</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="account">
                                    <a href="#">
                                        <span th:text="${#request.remoteUser}== null?#{account.login}:${#authentication.principal.account.fullname}"></span>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul th:if="${#request.remoteUser == null}" class="account_selection">
                                        <li><a href="/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i>[(#{account.login})]</a></li>
                                        <li><a href="/account/register"><i class="fa fa-user-plus" ></i>[(#{account.signup})]</a></li>

                                        <li><a href="/account/forgot-password"><i class="fa fa-user-times" aria-hidden="true"></i>[(#{account.forgot})]</a></li>
                                    </ul>
                                    <ul th:unless="${#request.remoteUser == null}" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_PRODUCT','ROLE_ORDER')" class="account_selection">
                                        <li><a href="/spring/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>[(#{account.logout})]</a></li>
                                        <li><a href="/admin/home/index"><i class="fa fa-clipboard" aria-hidden="true"></i>[(#{account.manager})]</a></li>
                                        <li><a href="/account/change-password"><i class="fa fa-retweet" aria-hidden="true"></i>[(#{account.change})]</a></li>
                                        <li><a href="/account/edit-profile"><i class="fa fa-address-card" aria-hidden="true"></i>[(#{account.update})]</a></li>
                                        <li><a href="/order/items-purchased"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>[(#{account.order})]</a></li>
                                        <li><a href="/order/list"><i class="fa fa-bars" aria-hidden="true"></i>[(#{account.list})]</a></li>
                                    </ul>
                                    <ul th:unless="${#request.remoteUser == null}" sec:authorize="hasRole('ROLE_USER')" class="account_selection">
                                        <li><a href="/spring/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>[(#{account.logout})]</a></li>
                                        <li><a href="/account/change-password"><i class="fa fa-retweet" aria-hidden="true"></i>[(#{account.change})]</a></li>
                                        <li><a href="/account/edit-profile"><i class="fa fa-address-card" aria-hidden="true"></i>[(#{account.update})]</a></li>
                                        <li><a href="/order/items-purchased"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>[(#{account.order})]</a></li>
                                        <li><a href="/order/list"><i class="fa fa-bars" aria-hidden="true"></i>[(#{account.list})]</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Navigation -->

        <div class="main_nav_container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="logo_container">
                            <a href="/home/index">Ogani<span>shop</span></a>
                        </div>
                        <nav class="navbar">
                            <ul class="navbar_menu">
                                <li><a href="/" th:text="#{menu.home}">Trang chủ</a></li>
                                <li><a href="/product/list" th:text="#{menu.product}">Tất cả sản phẩm</a></li>
                                <li><a href="/product/special" th:text="#{menu.special}">SP đặc biệt</a></li>
                                <li><a href="/product/best" th:text="#{menu.favourite}">Yêu thích nhất</a></li>
                                <li><a href="/product/discount" th:text="#{menu.discount}">Giảm giá</a></li>
                                <li><a href="/blog/list" th:text="#{menu.news}">Tin tức</a></li>
                                <li><a href="/about/info" th:text="#{menu.contact}">Liên hệ</a></li>
                            </ul>


                            <!-- show cart  -->
                            <div th:replace="/shared/_cart"></div>


                            <div class="hamburger_container">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>